.rc-laucher {
  width: 60px;
  height: 60px;
  background-color: #4e8cff;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 0px 27px 10px rgba(0,0,0,0.22);
  }
  .rc-laucher__logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .rc-laucher__logo-base {
      opacity: 1;
      width: 100%;
      transition: all 0.2s ease-in-out;
      cursor: pointer
    }
    .rc-laucher__logo-close {
      position: absolute;
      opacity: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;
    }
  }
  .rc-laucher__chat-container {
    position: fixed;
    right: 25px;
    bottom: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
}

.rc-laucher.opened {
  .rc-laucher__logo-base {
    opacity: 0;
    transform: rotate(-90deg);
  }
  .rc-laucher__logo-close {
    opacity: 1;
  }

  .rc-laucher__chat-container {
    opacity: 1;
    bottom: 100px;
  }
}