.rc-window {
  width: 370px;
  height: 590px;
  display: flex;
  box-shadow: 0 7px 40px 2px hsla(210,1%,58%,.3);
  background: #fff;
  transition: .3s ease-in-out;
  border-radius: 10px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}